.wrapSearch {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
}
.ipSearch {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #d2d6dd;
    height: 40px;
}
.btnSearch {
    background-color: #5cb377 !important;
    color: white;
    border: 1px solid #5cb377;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
}

.btnSearch:hover{
    background-color: #74be8b;
    border-color: #6cbb85;
}

input:focus{
   border-color: #86b7fe;
   outline: none;
}
.btnAdd{
    display: block;
    background-color: #5cb377;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: 1px solid #5cb377;
    cursor: pointer;
    margin-left: auto;
}
.wrapContent{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px
}