table {
    width: 100%;        
    border-collapse: collapse;
    background-color: #fff;
}
th, td {
    padding: 8px;
    border: 1px solid #dee2e6;
}
th {
    height: 40px;
    text-align: left;
}
.menu{
    &__item{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 8px;
        &--input{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            input{
                width: 300px;
            }
        }
    }
}
.main__table{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
@media(min-width:576px){
    .modal-dialog{
        max-width: fit-content !important;
        margin: 1.75em auto;
    }
}
.modal__main{
    &--top{
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
        .input{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            input{
                width: 90%;
            }
        }
    }
    &--content{
        .title{
            margin-bottom: 15px;
        }
    }
}
.add{
   margin: 30px;
    button{
        background-color: #dc3545;
        cursor: pointer;
        border: none;
        svg{
            color: #fff;
        }
    }
}